@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SurveyorLayout.cshtml";
}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="table-responsive step-1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="themeclr head-bg text-center">BeneficiaryDetail Details</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.details != null)
                    {
                        foreach (DataRow item in ViewBag.StudentDetails.Rows)
                        {
                            <tr>
                                <th class="text-left profile">Beneficiary Code:</th>
                                <td class="text-center">@item["BeneficiaryCode"]</td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Name:</th>
                                <td class="text-center">@item["Name"]</td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Gender:</th>
                                <td class="text-center">@item["Gender"]</td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Father's Name:</th>
                                <td class="text-center">@item["fathername"]</td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Address</th>
                                <td class="text-center">Grade 4 A</td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Date of Birth:</th>

                                <td class="text-center">
                                    21-Sep-2009
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Ward Code:</th>

                                <td class="text-center">
                                    25
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Phone:</th>

                                <td class="text-center">
                                    9528522222
                                </td>
                            </tr>
                            <tr>
                                <th class="text-left profile">Email</th>

                                <td class="text-center">
                                    21-Sep-2009
                                </td>
                            </tr>
                        }
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="table-responsive step-1">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="themeclr head-bg text-center">Payment Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-left profile">Level-1:</th>
                                <td class="text-center">Paid</td>

                            </tr>
                            <tr>
                                <th class="text-left profile">Level-2:</th>

                                <td class="text-center">Paid</td>

                            </tr>
                            <tr>
                                <th class="text-left profile">Level-3:</th>

                                <td class="text-center">Paid</td>

                            </tr>
                            <tr>
                                <th class="text-left profile">Level-4:</th>

                                <td class="text-center">Paid</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>